<!DOCTYPE html>

<html>
<head>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="css/canvas_style.css"/>
<link rel="import" href="work.html">
<title>Spartan Assault</title>

</head>
<body>
	<div id="container" style="top:0px; left:0px; width:100%; height:100%;">
		<div id="west_banner">
			<div id="overview" class="buttons">Overview</div>
			<div id="objectives" class="buttons">Objectives</div>
			<div id="guild" class="buttons">Guild</div>
			<div id="work" class="buttons">Work</div>
			<div id="colosseum" class="buttons">Colosseum</div>
			<div id="training" class="buttons">Training</div>
			<div id="top" class="buttons">Top</div>
			
			<div id="west_banner_south">
				<div id="left_button" class="buttons"></div>
				<div id="right_button" class="buttons"></div>
				<div id="weaponsmith" class="buttons">Weaponsmith</div>
				<div id="armoursmith" class="buttons">Armoursmith</div>
				<div id="goodsMerchant" class="buttons">Goods Merchant</div>
				<div id="crafting" class="buttons">Crafting</div>
				<div id="upgrade" class="buttons">Upgrade</div>
				<div id="market" class="buttons">Market</div>
				
				<div id="canyon" class="buttons">Steep Canyon</div>
				<div id="forest" class="buttons">Dark Forest</div>
				<div id="temple" class="buttons">Temple Ruins</div>
			</div>
		</div>

		<form action="/logout" method="post">
			<input type="submit" value="logout_submit" style="position:absolute; left:1274px; top:33px; width:40px; height:15px; opacity:0;">
		</form>
		<div id="canvas"></div>
	</div>
	
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<script type="text/javascript" language="javascript">

		$(document).ready(function() {
		
			$("#canyon").hide();
			$("#forest").hide();
			$("#temple").hide();
		
			$("#overview, #objectives, #guild, #work, #colosseum, #training, #top, #weaponsmith, #armoursmith, #goodsMerchant, #crafting, #upgrade, #market, #canyon, #forest, #temple").click(function(event){
				$("#canvas").html("<iframe src='"+$(this).attr('id')+".html' style=\"width:1073px; height:528px;\" frameborder=\"0\"></iframe>");
				var name = $(this).attr('id');
				if(name=="overview" || name=="objectives" || name=="guild" || name=="work" || name=="colosseum" || name=="training" || name=="top")
					{
					$('#weaponsmith').removeClass('butonActiv');
					$('#armoursmith').removeClass('butonActiv');
					$('#goodsMerchant').removeClass('butonActiv');
					$('#crafting').removeClass('butonActiv');
					$('#upgrade').removeClass('butonActiv');
					$('#market').removeClass('butonActiv');
					$("#canyon").removeClass('butonActiv');
					$("#forest").removeClass('butonActiv');
					$("#temple").removeClass('butonActiv');
					}
				$(this).siblings().removeClass('butonActiv');
				$(this).parent().siblings().removeClass('butonActiv');
				$(this).addClass('butonActiv');
			});
			
			$('#left_button').click(function(){
				$("#west_banner_south").removeClass('addBackgroundRight');
				$("#right_button").removeClass('activeButton');
				$("#left_button").addClass('activeButton');
				
				$("#weaponsmith").show();
				$("#armoursmith").show();
				$("#goodsMerchant").show();
				$("#crafting").show();
				$("#upgrade").show();
				$("#market").show();
				
				$("#canyon").hide();
				$("#forest").hide();
				$("#temple").hide();
				
				$("#west_banner_south").addClass('addBackgroundLeft');
			});
			
			$('#right_button').click(function(){
				$("#west_banner_south").removeClass('addBackgroundLeft');
				$("#left_button").removeClass('activeButton');
				$("#right_button").addClass('activeButton');
				
				$("#weaponsmith").hide();
				$("#armoursmith").hide();
				$("#goodsMerchant").hide();
				$("#crafting").hide();
				$("#upgrade").hide();
				$("#market").hide();
				
				$("#canyon").show();
				$("#forest").show();
				$("#temple").show();
				
				$('#west_banner_south').addClass('addBackgroundRight');
			});
			
         });
		 
    </script>

</body>
</html>