<!DOCTYPE html>

<html>
	<head>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/css/success.css" media="screen" />
		<title>Spartan Assault</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="success_body" style="position: relative; top: 400px; left: 600px; width: 350px;, height: 20px;">
				<b>
					Congratulations! You have registered successfully.
					You can now login on the homepage.
				</b>
			</div>
		</div>
	</body>
</html>