<!DOCTYPE html>

<html>
	<head>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/css/terms.css" media="screen" />
		<title>Spartan Assault</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	</head>
	<body>
		<div id="container">
			<div id ="terms_title" style="position: relative; top: 100px; left: 595px; width: 230px; height: 42px;">
				<font size="5">
					<u><b>Terms and Conditions</b></u>
				</font>
			</div>
			<div id="terms_body" style="position: relative; top: 130px; left: 404px; width: 595px; height: 100px;">
				<font size="3">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to our website. If you continue to browse and use this website,
					you are agreeing to comply with and be bound by the following terms and
					conditions of use, which together with our privacy policy govern
					Spartan Assault's relationship with you in relation to this website.
					If you disagree with any part of these terms and conditions, please do
					not use our website.
				</font>
				<div id="terms_body2" style="position: relative; top: 15px; width: 595px; height: 315px;">
					<font size="3">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The use of this website is subject to the following terms of use:
						<ul>
						  <li>The content of the pages of this website is for your general
						  information and use only. It is subject to change without notice.</li>
						  <li>This website contains material which is owned by or licensed
						  to us. This material includes, but is not limited to, the design,
						  layout, look, appearance and graphics. Reproduction is prohibited
						  other than in accordance with the copyright notice, which forms part
						  of these terms and conditions.</li>
						  <li>All trade marks reproduced in this website which are not the property
						  of, or licensed to, the operator are acknowledged on the website.</li>
						  <li>Unauthorised use of this website may give rise to a claim for
						  damages and/or be a criminal offence.</li>
						  <li>From time to time this website may also include links to other websites.
						  These links are provided for your convenience to provide further information.
						  They do not signify that we endorse the website(s).</li>
						</ul>
					</font>
				</div>
			</div>
		</div>
	</body>
</html>