
	body{
		display:block;
	}
	
	#container{
		position: absolute;
		top:0;
		left:0;
		width:1053px;
		height:458px;
		background-color:rgba(224,184,52, 0.1);
	}
	
	#info{
		background-image:url(../assets/strengths_final.jpg);
		background-repeat:no-repeat;
		background-size:contain;
		position:absolute;
		background-color:green;
		background-size:cover;
		top:20px;
		left:400px;
		width:200px;
		height:190px;
	}
	
	#picture{
		background-image:url(../assets/Armoursmith.jpg);
		background-repeat:no-repeat;
		background-size:contain;
		position:absolute;
		background-color:green;
		background-size:cover;
		top:40px;
		left:50px;
		width:320px;
		height:380px;
	}
	
	#inventory{
		background-image:url(../assets/inventory.jpg);
		background-repeat:no-repeat;
		background-size:contain;
		position:absolute;
		background-size:cover;
		top:20px;
		left:700px;
		width:250px;
		height:270px;
	}
	
	#inventory1{
		background-image:url(../assets/inventory1.jpg);
		background-repeat:no-repeat;
		background-size:cover;
		position:absolute;
		background-color:green;
		top:230px;
		left:400px;
		width:200px;
		height:210px;
	}
	
	#inventory2{
		background-image:url(../assets/inventory2.png);
		background-repeat:no-repeat;
		background-size:cover;
		position:absolute;
		top:310px;
		left:680px;
		width:300px;
		height:140px;
	}
	
	#helmet{
		background-size:cover;
		position:absolute;
		background-color:red;
		opacity:0;
		top:41px;
		left:800px;
		width:55px;
		height:55px;	
	}
	
	#amulet{
		background-size:cover;
		position:absolute;
		background-color:red;
		opacity:0;
		top:72px;
		left:877px;
		width:23px;
		height:23px;
	
	}
	
	#weapon{
		background-size:cover;
		position:absolute;
		background-color:red;
		opacity:0;
		top:109px;
		left:725px;
		width:53px;
		height:85px;
	}
	
	#armourchest{
		background-size:cover;
		position:absolute;
		background-color:red;
		opacity:0;
		top:109px;
		left:802px;
		width:53px;
		height:85px;
	
	}
	
	#shield{
		background-size:cover;
		position:absolute;
		background-color:red;
		opacity:0;
		top:109px;
		left:878px;
		width:53px;
		height:85px;
	
	}