
	body{
		display:block;
	}
	
	#container{
		position: absolute;
		top:0;
		left:0;
		width:1053px;
		height:458px;
		background-color:rgba(224,184,52, 0.1);
		color:white;
	}
	
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;	
	}
	
	#userimage{
		position: absolute;
		top:45px;
		left:25px;
		width:140px;
		height:180px;
		background-color:white;
		background-image:url(../assets/gladiator_profile_picture.png);
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
	}

	#username{
		position: absolute;
		top:12px;
		left:60px;
		font-size:20px;
	}
	
	#tablediv{
		position: absolute;
		top:240px;
		left:60px;
		width:600px;
		height:100px;
	}