
	body{
		display:block;
	}
	
	#container{
		position: absolute;
		top:0;
		left:0;
		width:1053px;
		height:458px;
		background-color:rgba(224,184,52, 0.1);
	}
	
	#picture{
	
		background-image:url(../assets/offer.png);
		background-repeat:no-repeat;
		background-size:contain;
		position:absolute;
		background-color:green;
		background-size:cover;
		top:50px;
		left:400px;
		width:250px;
		height:140px;
	
}

	#picture1{
		background-image:url(../assets/inventory2.png);
		background-repeat:no-repeat;
		background-size:cover;
		position:absolute;
		top:50px;
		left:680px;
		width:300px;
		height:140px;
	}
	
	#picture2{
		background-image:url(../assets/market.png);
		background-repeat:no-repeat;
		background-size:cover;
		background-color:green;
		position:absolute;
		top:50px;
		left:40px;
		width:300px;
		height:300px;
	}
	
	#picture3{
		background-image:url(../assets/Sell.png);
		background-repeat:no-repeat;
		background-size:cover;
		position:absolute;
		top:20px;
		left:400px;
		width:580px;
		height:20px;
	}
	
	#picture4{
		background-image:url(../assets/Buy.png);
		background-repeat:no-repeat;
		background-size:cover;
		position:absolute;
		top:200px;
		left:400px;
		width:580px;
		height:20px;
	}
	
	#picture5{
		background-image:url(../assets/table.png);
		background-repeat:no-repeat;
		background-size:cover;
		position:absolute;
		top:240px;
		left:400px;
		width:580px;
		height:200px;
		
		
	}